* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offers-container {
    background-color: rgb(194, 220, 142);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-offer {
    width: 400px;
    height: 400px;
    background-color: rgb(105, 248, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    padding: 0 30px;
    margin: 25px;
    h2 {
        font-size: 2.5rem;
    }
}

.wiev-photos {
    background-color: purple;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/*______________________________________popUP_______________________________*/

.popUp-img {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 38, 38);
    z-index: 10;
    left: calc((50vw - 50%) * -1);
    top: calc((50vh - 50%) * -1);
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    
    img {
        width: 100%;
        
    }
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.left-btn {
    position: absolute;
    top: 50%;
    left: 40px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.right-btn {
    position: absolute;
    top: 50%;
    right: 40px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}